@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    font-size: 30px;
}
nav{
    display: flex;
}
.text-color{
    color: orangered;
}
nav > ul{
    display: flex;
    
}